/* styles.css  */

@font-face /*perintah untuk memanggil font eksternal*/
        {
            font-family: 'MonoMek'; /*memberikan nama bebas untuk font*/
            src: url('../MonoMEK\ v1.0/Mek-Mono.otf');/*memanggil file font eksternalnya di folder nexa*/
        }
 
        body, .content-wrapper, .container, #pixelContainer, form, label, input, select, button, .box, .color-popup
        {
            font-family: 'MonoMek'; /*nama yang sudah didefinisikan pada @font-face*/
        }

body, .content-wrapper, .container, #pixelContainer, form, label, input, select, button, .box, .color-popup {
    border: none !important;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 420px;  /* Menentukan lebar maksimum untuk tampilan mobile */
    margin: 0 auto;  /* Membuat konten berada di tengah layar */
    position: relative;  /* Memastikan posisi relatif untuk child dengan posisi absolute */
    min-height: 90vh;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-color: #1c1c1c;
    color: aliceblue;
    overflow-x: hidden;
}

button {
    text-align: center;
    display: flex;
    justify-content: center; /* Menengahkan elemen horizontal */
    align-items: center; /* Menengahkan elemen vertikal */
}

form {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Menengahkan elemen horizontal */
    align-items: center; /* Menengahkan elemen vertikal */
    gap: 10px;
}

.container {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; /* Menengahkan elemen vertikal */
    justify-content: center; /* Menengahkan elemen horizontal */
}


.container {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    box-sizing: border-box;
}

form {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

form label, form input, form select, form button {
    text-align: center;
}

label, input, select, button {
    margin: 5px;
}

input, select, button {
    padding: 10px;
    font-size: 16px;
    width: 200px;
}

label {
    width: 180px;
    text-align: center;
    padding-right: 10px;

}

.download-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    width: auto;
}

#pixelContainer {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.color-popup {
    position: absolute;
    background-color: #fff;
    color: #000;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    display: none;
    white-space: nowrap;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
}

.box:hover .color-popup {
    display: block;
}
