/* styles.css  */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-color: #1c1c1c;
    color: aliceblue;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    box-sizing: border-box;
}

form {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

label, input, select, button {
    margin: 5px;
}

input, select, button {
    padding: 10px;
    font-size: 16px;
    width: 200px;
}

label {
    width: 180px;
    text-align: right;
    padding-right: 10px;
}

.download-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    width: auto;
}

#pixelContainer {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.color-popup {
    position: absolute;
    background-color: #fff;
    color: #000;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    display: none;
    white-space: nowrap;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
}

.box:hover .color-popup {
    display: block;
}
